@model Recruitment.Models.Users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>@Html.DisplayFor(m => m.Username)</h3>
        <h3>@Html.DisplayFor(m => m.Fullname)</h3>
        <h3>@Html.DisplayFor(m => m.Roleid)</h3>
    </div>
</body>
</html>
