
@{
    ViewBag.Title = "Tambah Sumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Recruitment.Models.Sumber
@using Recruitment.Models;


<body>
    @Html.ActionLink("Back", "getall",new { @id = "tessourceid"}, new { @class = "btn btn-primary" })
    @using (Html.BeginForm("Insert", "Source", FormMethod.Post))
    {
        <h2><center>CREATE NEW SOURCE</center></h2>
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SumberNama, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SumberNama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumberNama, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create New Source" class="btn btn-success" />

                </div>
            </div>
        </div>
        
    }

</body>






