
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCandidate</title>
</head>
<body>
    <div> 
        <input type="button" value="List Candidate" class="btn btn-primary" />
    </div>
</body>
</html>
