@model Recruitment.Models.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <div align="center">
                <img src="~/Content/build/images/logo ACE.png" />
            </div>
            <section class="login_content">
                @if (TempData["cek"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>@TempData["cek"]</strong>
                    </div>
                }
                <h1>Login Form</h1>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Username" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @type = "password", @placeholder = "Password" })
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success pull-right" name="login" value="Login" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">


                        <p>©Copyright 2019  ADP batch 2</p>

                    </div>
                }
            </section>
        </div>

    </div>
</div>
